:root {
    --green-color: #596D48;
    --light-color: #E5E7EB;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*Left-side Image*/
.image img {
    width: 35vw;
    height: 100vh;
}

div.odin {
    height: 20vh;
    width: 35vw;
    position: absolute;
    top: 20vh;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}
div.odin img {
    display: block;
    /*height: 48%;*/
    height: 70%;
    width: 22%;
    object-fit: contain;
}


/*Main*/
section.main {
    background-color: var(--light-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text {
    font-size: calc(0.8rem + 0.8vw);
    font-weight: 550;
    margin-left: 50px;
}

.before-form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content:end;
    margin: 0 5vw 5vh 0;
}

.desc {
    margin-bottom: 5vh;
}

.form-main {
    background-color: white;
    height: 40vh;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 5px grey;
}

.form-main div {
    display: flex;
}

.form-main div div {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

input {
    height: 3ch;
    width: 20vw;
    border-radius: 5px;
    border: 1.5px solid var(--light-color);
    padding: 5px;
    outline:none;
}

input:invalid[type="password"] {
    border-color: red;
}

div div input:focus {
    border-color: cadetblue;
    box-shadow: 2px 2px 5px black;
}

.create-account {
    background-color: var(--green-color);
    color: white;
    margin: 0 0 30px 50px;
    font-size: 18px;
    padding: 12px 4vw;
    border-radius: 5px;
    border: 0px;
}

.login {
    display: flex;
    margin-left: 50px;
}

.login a {
    color: var(--green-color);
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
}