:root {
    --green-color: #596D48;
    --light-color: #E5E7EB;

}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.image img {
    width: 35vw;
    height: 100vh;
}

.main {
    background-color: var(--light-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text {
    font-size: 1.8rem;
    font-weight: 550;
}

.before-form {
    height: 30vh;
    vertical-align: bottom;
    margin: 0 0 5vh 50px;
}

.before-form p {
    overflow: auto;
}

.desc {
    margin-bottom: 5vh;
}

.form-main {
    background-color: white;
    height: 30vh;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-main div {
    flex: auto;
    display: flex;
    margin-left: 50px;
}

input {
    height: 3ch;
    width: 30ch;
    border-radius: 5px;
    border: 1.5px solid var(--light-color);
}

.create-account {
    background-color: var(--green-color);
    color: white;
}

.login {
    display: flex;
}

.login a {
    color: var(--green-color);
    font-weight: bold;
    flex: 1;
    margin-left: 5px;
}